.outer{
    background-color: white;
    height : 100%  ; 
    width : 25vw;
    margin-right: 5vw; 
    margin-top : 2vh ; 
    padding : 20px ; 
    border-radius: 5px;
}
.destination{

    border-bottom: 2px solid rgb(194, 192, 192) ;
}
.destination div{
    display : flex  ; 
    justify-content: space-between;
    margin-bottom: 10px ;
}


.leftSide{
    font-size: 16px;
    font-weight: 700;
    color: #3e3e52;
}

.rightSide{
    font-size: 16px;
    color: #3e3e52;
}

.seatNo{
    margin-top : 20px ; 
   
   
    border-bottom: 2px solid rgb(194, 192, 192) ;
}
.seatNo div{
    display : flex  ; 
    justify-content: space-between;
    padding-bottom: 10px ;
}
.outer button{
    color : white ; 
    border : 0 ; 
    outline : 0 ; 
    width : 100% ; 
    margin-top :20px ; 
    background-color: rgb(233, 82, 82);
    padding :5px ; 
    height : 40px ;  

    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}
